.container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
li{list-style-type: none;}
.oktdiv {
    display: flex;
}

.line1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.line2 {
    display: flex;
    justify-content: space-between;
}

.h1 {
    font-size: 80px;
}

.p1 {
    font-size: 20px;
}

.line3 { display: flex;
    width: 483px;
    height: 200px;
    background-color: #1E4681;
    margin: 0 auto;
    color: #ffffff;}

.p2 {
    font-size: 25px;
}

.p3 { 
    font-size: 20px;
}
.p6{
    font-size: 24px;
}
.line4{
    display: flex;
   justify-content: space-between;
}
.line5{
    display: flex;
    justify-content: space-between;
}
.ul1,.ul2{
    display: flex;
    flex-direction: row;
font-size: 25px;
}
.h22{padding-top: 178px;}
.h23{ padding-top: 249px}
h2{font-size: 55px;}
.lot{
    font-size: 25px;
    list-style-type: square;
}
.p7{font-size: 30px;
}
.allctg{ display: block ;
    border: solid black 1px;
width: 399px; height: 328px;
border-radius: 30px;}

.section3{
   
}

.section4{
    width: 1440px; height: 780px ;
background-color: #EFEFEF;

}